<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- mensaje inicial -->
  <ion-item lines="none">
    <ion-text>
      <h1 class="titulo-reg">Cambiar contraseña</h1>
    </ion-text>
  </ion-item>
  
  <ion-list>
    <!-- Contraseña actual -->
    <div>
      <ion-input type = "password" label="Contraseña Actual" placeholder="Ingresa tu contraseña actual" labelPlacement="floating" fill="outline" [(ngModel)]="user.password">
        <ion-input-password-toggle slot="end" *ngIf="user.password"></ion-input-password-toggle>
      </ion-input>
      <div *ngIf="!passwordIsCorrect">
        <p class="error-message">Contraseña incorrecta</p>
      </div>
    </div>

    <!-- Nueva contraseña -->
    <div>
      <ion-input type = "password" label="Nueva Contraseña" placeholder="Ingresa tu contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="newPassword">
        <ion-input-password-toggle slot="end" *ngIf="newPassword"></ion-input-password-toggle>
      </ion-input>
      <div *ngIf="!newPasswordIsCorrect">
        <p class="error-message" *ngFor="let errorMessage of errorMessagesPassword">{{errorMessage}}</p>
      </div>
    </div>

    <div>
      <ion-input type="password" label="Confirmar Contraseña" placeholder="Confirma tu contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="confirmPassword">
        <ion-input-password-toggle slot="end" *ngIf="confirmPassword"></ion-input-password-toggle>
      </ion-input>
      <p class="error-message" *ngIf="!confirmPasswordIsCorrect">Las contraseñas no coinciden</p>
    </div>

    <ion-button expand="block" size ="large" fill="solid" shape="round" class="continue-btn" (click)="validatePassword()">Continuar</ion-button>
  </ion-list>
  
  <ion-toast
  color = "danger"
  [isOpen]="isErrorToastOpen"
  message={{messageErrorToast}}
  [duration]="3000"
  (didDismiss)="setOpenErrorToast(false)"
  ></ion-toast>

  <ion-toast
  color = "success"
  [isOpen]="isSuccessToastOpen"
  message="Contraseña Cambiada con Éxito"
  [duration]="2000"
  (didDismiss)="setOpenSuccessToast(false)"
  ></ion-toast>
</ion-content>