<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-text>
      <h1 class="titulo-reg">Cambiar contraseña</h1>
    </ion-text>
  </ion-item>
  
  <ion-list>
    <div>
      <ion-input type = "password" label="Contraseña" placeholder="Ingresa tu contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="user.password">
        <ion-input-password-toggle slot="end" *ngIf="user.password"></ion-input-password-toggle>
      </ion-input>
      <div *ngIf="!passwordIsCorrect">
        <p class="error-message" *ngFor="let errorMessage of errorMessagesPassword">{{errorMessage}}</p>
      </div>
      
    </div>
    <div>
      <ion-input type="password" label="Confirmar Contraseña" placeholder="Confirma tu contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="confirmPassword">
        <ion-input-password-toggle slot="end" *ngIf="confirmPassword"></ion-input-password-toggle>
      </ion-input>
      <p class="error-message" *ngIf="!confirmPasswordIsCorrect">Las contraseñas no coinciden</p>
    </div>
    <ion-button expand="block" size ="large" fill="solid" shape="round" class="continue-btn" (click)="validatePassword()">Continuar</ion-button>
  </ion-list>
</ion-content>