ion-toolbar{
    --background: white;
}

ion-item{
    --background: white;
    ion-icon{
        margin-left: auto;
    }
}

ion-button{
    margin-top: 10px;
    margin-bottom: 50px;
}
.bg-white{
    --background: white;
}
.item-content{
    width: 100%;
    display: block;
}