<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-text>
      <h1 class="title-login">¿Has olvidado tu contraseña?</h1>
    </ion-text>
  </ion-item>
    <ion-list>
      <div>
        <ion-input label="Correo" labelPlacement="floating" placeholder="Ingresa tu correo" fill="outline"[(ngModel)]="email">
        </ion-input>
        <p class="error-message" *ngIf="!emailIsCorrect">{{emailErrorMessage}}</p>
      </div>
      <p class="text-message">
        Enviaremos un código de verificación a este email si coincide con una cuenta de linkedin existente.
      </p>
      <ion-button expand="block" size ="large" fill="solid" shape="round" class="continue-btn" (click)="validateEmail()">Siguiente</ion-button>
      <ion-toast
      [isOpen]="isAllGood"
      message="Por favor, revisa tu correo electrónico"
      [duration]="3000"
      (didDismiss)="setOpenToast(false)"
    ></ion-toast>
    </ion-list>
</ion-content>