<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- FOTO NOMBRE Y DIRECCION -->
  <ion-item lines="none">
    <div class="item-content">
      <ion-item lines="none" (click)="takePicture()">
        <div class="profile-container">
          <ion-img *ngIf="user.photo_user" [src]="user.photo_user" alt="Con imagen" class="img-profile"></ion-img>
          <ion-img *ngIf="!user.photo_user" src="assets/img/profile.jpg" tab="img-company" class="img-profile"></ion-img>
      
          <ion-icon name="add-circle" class="add-icon"></ion-icon>
        </div>
      </ion-item>
      <ion-item lines="none" class="item-content">
        <div class="w-100 my-10px">
          <ion-label>
            <h3>Nombre</h3>
            <div class="input-border">
              <ion-input placeholder="Ingresa tu nombre" [(ngModel)]="user.name_user"> </ion-input>
            </div>
          </ion-label>
          <p class="error-message" *ngIf="!nameIsCorrect">Este campo es obligatorio</p>
        </div>
      </ion-item >
      <ion-item lines="none" class="item-content">
        <div class="w-100 my-10px">
          <ion-label>
            <h3>Apellidos</h3>
            <div class="input-border">
              <ion-input placeholder="Ingresa tus apellidos" [(ngModel)]="user.lastname_user"> </ion-input>
            </div>
          </ion-label>
          <p class="error-message" *ngIf="!lastnameIsCorrect">Este campo es obligatorio</p>
        </div>
      </ion-item >
      <ion-item lines="none">
        <ion-label>
          <h3>descripcion</h3>
          <div class="input-border">
            <ion-input placeholder="Ingresa una breve descripcion" [(ngModel)]="user.description_user"> </ion-input>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3>Ubicacion</h3>
          <div class="input-border">
            <ion-input placeholder="Ingresa la direccion de la entidad" [(ngModel)]="user.address_user"> </ion-input>
          </div>
        </ion-label>
      </ion-item>
    </div>  
  </ion-item>

  <!-- CONTACTOS -->
  <ion-item lines="none" class="pt-10px">
    <div class="item-content">
      <ion-item lines="none">
        <h1>Contactos</h1>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>
          <div class="d-flex">
            <p class="m-auto">+</p>
            <div class="input-border flex-grow">
              <ion-input
              type="number"
              [(ngModel)]="user.phone_user"
              [value]="inputModel"
              (ionInput)="onInput($event)"
              #ionInputEl
            ></ion-input>
            </div>
          </div>
        </ion-label>
      </ion-item>
        
      <ion-item lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <div class="w-100 my-10px">
          <ion-label>
            <div class="input-border">
              <ion-input [(ngModel)]="user.email_user"></ion-input>
            </div>
          </ion-label>
          <p class="error-message" *ngIf="!emailIsCorrect">{{emailErrorMessage}}</p>
        </div>  
      </ion-item>
    </div>
  </ion-item>

  <!-- ACERCA DE -->
  <ion-item lines="none" class="pt-10px">
    <ion-label>
      <ion-item>
        <h1>Acerca de</h1>
      </ion-item>
      <ion-textarea *ngIf="user.about_user" rows="10"
      name="acerca de" 
      value="{{user.about_user}}">
      </ion-textarea>
    </ion-label>
  </ion-item>

  <ion-button expand="full" (click)="validateProfile()">confirmar</ion-button>

  <ion-toast
    color = "danger"
    [isOpen]="isErrorToastOpen"
    message={{messageErrorToast}}
    [duration]="3000"
    (didDismiss)="setOpenErrorToast(false)"
  ></ion-toast>

</ion-content>
