ion-item{
    --background: white;
    ion-icon{
        margin-left: auto;
    }
}

ion-list{
    padding: 0px;
}

ion-textarea{
    padding-left: 3px;
    border-radius: 1rem;
    border: 1px solid #bbbbbb;
}
ion-textarea:focus-within{
    border: 1px solid #0054E9;
}

ion-label{
    width: 100%;
}

.img-profile{
    width: 150px;
    height: 150px;


    margin-top: 30px;

    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #ffffff;
    object-fit: cover;
}

.item-content{
    width: 100%;
    display: block;
}