<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form #formData="ngForm" (ngSubmit)="validateData(formData)">
    <!-- FOTO NOMBRE Y DIRECCION -->
    <ion-item lines="none">
      <div class="item-content">
        <ion-item lines="none">
          <ion-img src="assets/img/profile.jpg" tab="img-company" class="img-profile"></ion-img>
        </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h3>Nombre*</h3>
              <ion-input
              value={{user.name}}
              [(ngModel)]="user.name"
              type="text" 
              name="nombre" 
              errorText="Nombre invalido"
              required
              > </ion-input>
            </ion-label>
          </ion-item >
          <ion-item lines="none">
            <ion-label>
              <h3>Apellidos*</h3>
              <ion-input value="{{user.lastname}}"
              [(ngModel)]="user.lastname"
              type="text" 
              name="nombre" 
              errorText="Apellidos invalidos"
              required
              > </ion-input>
            </ion-label>
          </ion-item >
          <ion-item lines="none">
            <ion-label>
              <h3>Descripcion*</h3>
              <ion-input value="{{user.description}}"
              [(ngModel)]="user.description"
              type="text" 
              name="descripcion" 
              > </ion-input>
            </ion-label>
          </ion-item >
          <ion-item lines="none">
            <ion-label>
              <h3>Ubicacion*</h3>
              <ion-input value={{user.address}}
              [(ngModel)]="user.address"
              type="text" 
              name="direccion"  
              errorText="Ubicacion invalida"> </ion-input>
            </ion-label>
          </ion-item>
      </div>  
    </ion-item>

    <!-- CONTACTOS -->
    <ion-item lines="none" class="pt-10px">
      <ion-label>
        <ion-item>
          <h1>Contactos</h1>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>Teléfono</h2>
              <div class="d-flex">
                <p class="p-auto">+</p>
                <ion-input
                  maxlength="11"
                  name="telefono"
                  [(ngModel)]="user.phone"
                  [value]="inputModel"
                  (ionInput)="onInput($event)"
                  #ionInputEl
                ></ion-input>
              </div>
            </ion-label>
          </ion-item>
          
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>Correo Electrónico</h2>
              <ion-input value="{{user.email}}"
              [(ngModel)]="user.email"
              type="email"
              name="correo"
              errorText="correo invalido"
              required 
              email></ion-input>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>

    <!-- ACERCA DE -->
    <ion-item lines="none" class="pt-10px">
      <ion-label>
        <ion-item>
          <h1>Acerca de</h1>
        </ion-item>
        <ion-textarea rows="10"
        name="acerca de" 
        value="{{user.about}}"
        [(ngModel)]="user.about"
        
        >
        </ion-textarea>
      </ion-label>
    </ion-item>

    <!-- EXPERIENCIA LABORAL -->
    <ion-item class="pt-10px">
      <div class="item-content">
        <ion-item>
          <h1>Experiencia</h1>
          <ion-icon name="add-circle" size="large" slot="end" (click)="toAddExperience()"></ion-icon>
        </ion-item>
        
        <ion-list>
          <ion-item class="list-item">
            <ion-icon name="pencil" size="large" slot="end" (click)="toEditExperience()"></ion-icon>
            <ion-label>
              <h2>Compañía Tech</h2>
              <h3>Desarrollador Full-Stack</h3>
              <p>2020 - 2023</p>
            </ion-label>
          </ion-item>
          <ion-item class="list-item">
            <ion-icon name="pencil" size="large" slot="end" (click)="toEditExperience()"></ion-icon>
            <ion-label>
              <h2>StartUp Innovación</h2>
              <h3>Ingeniero de Software</h3>
              <p>2017 - 2020</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>  
    </ion-item>

    <!-- EDUCACION -->
    <ion-item class="pt-10px">
      <div class="item-content">
        <ion-item>
          <h1>Educación</h1>
          <ion-icon name="add-circle" size="large" slot="end" (click)="toAddEducation()"></ion-icon>
        </ion-item>
        <ion-list>
          <ion-item class="list-item">
            <ion-icon name="pencil" size="large" slot="end" (click)="toEditEducation()"></ion-icon>
            <ion-label>
              <h2>Universidad de Chile</h2>
              <h3>Ingeniería en Computación</h3>
              <p>2014 - 2019</p>
            </ion-label>
          </ion-item>
          <ion-item class="list-item">
            <ion-icon name="pencil" size="large" slot="end" (click)="toEditEducation()"></ion-icon>

            <ion-label>
              <h2>Instituto Técnico Colina</h2>
              <h3>Técnico en Programación</h3>
              <p>2010 - 2014</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>  
    </ion-item>

    <ion-button expand="full" class="mb-50px" type="submite">confirmar</ion-button>
  </form>
</ion-content>
