
ion-list{
    padding: 0px;
}

ion-item{
    --background: white;
    ion-icon{
        margin-left: auto;
    }
}

ion-textarea{
    padding-left: 3px;
    border-radius: 1rem;
    border: 1px solid #bbbbbb;
}
ion-textarea:focus-within{
    border: 1px solid #0054E9;
}

ion-label{
    width: 100%;
}

.item-content{
    width: 100%;
    display: block;
}