<ion-item lines="none" class="mt-20px"> 
  <div>
    <ion-checkbox labelPlacement="end" (ionChange)="isWorkingChanged($event)" [checked]="isWorking"> Actualmente sigo con ello</ion-checkbox>
  </div>
</ion-item>

<ion-item id="modal-startDate" lines="none" class="item-content mt-5px">
  <div class="w-100 my-10px">
    <ion-label>
      <h3>Fecha de inicio</h3>
      <div class="input-border">
        <ion-input placeholder="Fecha de Inicio" [readonly]="true" [value]="selectedStartDate" > </ion-input>
      </div>
    </ion-label>
    <p class="error-message" *ngIf="!startDateIsCorrect">Este campo es obligatorio</p>
  </div>

  <ion-modal trigger="modal-startDate">
    <ng-template>
      <ion-content>
        <ion-datetime #startdatetime
        presentation="month-year" 
        [showDefaultButtons]="true"
        [max]="today"
        doneText="Confirmar" 
        cancelText="Cancelar"
        (ionChange)="startDateConfirmed($event)">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item>

<ion-item *ngIf="!isWorking" id="modal-endDate" lines="none" class="item-content mt-5px" >
  <div class="w-100 my-10px">
    <ion-label>
      <h3>Fecha de finalización</h3>
      <div class="input-border">
        <ion-input placeholder="Fecha de finalización" [readonly]="true" [value]="selectedEndDate"> </ion-input>
      </div>
    </ion-label>
    <p class="error-message" *ngIf="!endDateIsCorrect">Este campo es obligatorio</p>
  </div>

  <ion-modal trigger="modal-endDate">
    <ng-template>
      <ion-content>
        <ion-datetime #enddatetime
        presentation="month-year" 
        [showDefaultButtons]="true"
        [max]="today"
        [min]="minDate"
        doneText="Confirmar" 
        cancelText="Cancelar"
        (ionChange)="endDateConfirmed($event)">
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item >

