
ion-modal{
    --background: rgba(255, 255, 255, 0.2);
    ion-content{ 
        --background: transparent;
        ion-datetime{
            border-radius: 16px;
            margin-top: 24%;
            --background: rgb(255, 255, 255);
            --background-rgb: 200, 200, 200,;
            --wheel-highlight-background: rgb(217, 216, 235);
            --wheel-highlight-border-radius: 48px;
        }
    
    }
}


ion-item{
    --background: white;
    ion-icon{
        margin-left: auto;
    }
}

ion-datetime{
    margin: auto;
}