<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <ion-searchbar placeholder="Buscar postulacion"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list> 
    <ion-item class="bg-white" >
      <div class="item-content" (click)="toJob()">
        <ion-img  src="assets/img/company.png" alt="img-company"></ion-img>
        <ion-label>
          <h2>Soldador de madera</h2>
          <h3>Empresa Super Profesional</h3>
          <p class="trunc">Colina, Región Metropolitana de Santiago</p>
        </ion-label>
      </div>
      <div class="d-flex" (click)="toOptions()">
        <ion-icon name="settings-outline" size="large" color="medium" slot="end"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>


