<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Ups...</h1>
  <ion-button expand="block" size ="large" fill="solid" shape="round" (click)="toAccess()">
    Inicio
  </ion-button>
  <h1>USERS</h1>
  <ion-item *ngFor="let post of postArray">
    <ion-list>
      <ion-label>
        <h2>id_post{{post.id_post}}</h2>
        <p>status: {{post.status_post}}</p>
        <p>titulo trabajo:{{post.title_job}}</p>
        <p>id empresa : {{post.id_company}}</p>
        <p>nombre empresa:{{post.name_company}}</p>
        <p>id user:{{post.id_user}}</p>
        <p>nombre postulante:{{post.name_user}} {{post.lastname_user}}</p>

      </ion-label>
    </ion-list>  
  </ion-item>
</ion-content>
