<ion-header>
</ion-header>

<ion-content>
  <!-- Opciones -->
  <ion-item lines="none">
    <ion-icon name="settings-sharp" (click)="toOptionsProfile()"></ion-icon>
  </ion-item>
  <!-- FOTO NOMBRE Y DIRECCION -->
  <ion-item>
    <div class="item-content">
      <ion-item>
        <ion-img *ngIf="user.photo_user" [src]="user.photo_user" alt="Con imagen" class="img-profile"></ion-img>
        <ion-img *ngIf="!user.photo_user" src="assets/img/profile.jpg" tab="img-company" class="img-profile"></ion-img>
        <ion-icon name="pencil" size="large" slot="end" (click)="toEditProfile()"></ion-icon>
      </ion-item>
      <ion-label>
        <h1>{{user.name_user}} {{user.lastname_user}}</h1>
        <h2>{{user.description_user}}</h2>
        <p>{{user.address_user}}</p>
      </ion-label>
    </div>  
  </ion-item>

  <!-- CONTACTOS -->
  <ion-item class="pt-10px">
    <ion-label>
      <ion-item>
        <h1>Contactos</h1>
      </ion-item>
      <ion-list>
        <ion-item *ngIf="user.phone_user">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Teléfono</h2>
            <p>+{{user.phone_user}}</p>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Correo Electrónico</h2>
            <p>{{user.email_user}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-label>
  </ion-item>

  <!-- ACERCA DE -->
  <ion-item class="pt-10px">
    <ion-label>
      <ion-item>
        <h1>Acerca de</h1>
      </ion-item>
      <p>{{user.about_user}}</p>
    </ion-label>
  </ion-item>

  <!-- EXPERIENCIA LABORAL -->
  <ion-item class="pt-10px">
    <div class="item-content">
      <ion-item>
        <h1>Experiencia</h1>
        <ion-icon name="add-circle" size="large" slot="end" (click)="toAddExperience()"></ion-icon>
      </ion-item>   
      <ion-list *ngIf="expArray.length > 0">
        <ion-item *ngFor="let exp of expArray" class="list-item">
          <ion-icon name="pencil" size="large" slot="end" (click)="toEditExperience(exp)"></ion-icon>
          <ion-label>
            <h2 *ngIf="exp.comp">{{exp.comp}}</h2>
            <h2 *ngIf="!exp.comp">{{exp.otherCompany}}</h2>
            <h3 *ngIf="exp.position">{{exp.position}}</h3>
            <h3 *ngIf="!exp.position">{{exp.otherPosition}}</h3>
            <p>{{exp.startDate_exp}} - <span *ngIf="exp.endDate_exp">{{exp.endDate_exp}}</span><span *ngIf="!exp.endDate_exp">Actualmente</span></p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="expArray.length === 0">
        <ion-label>
          <h4>Sin Experiencia</h4>
        </ion-label>
      </ion-item>
    </div>  
  </ion-item>

  <!-- EDUCACION -->
  <ion-item class="pt-10px">
    <div class="item-content">
      <ion-item>
        <h1>Educación</h1>
        <ion-icon name="add-circle" size="large" slot="end" (click)="toAddEducation()"></ion-icon>
      </ion-item>
      <ion-list *ngIf="educArray.length > 0">
        <ion-item *ngFor="let educ of educArray" class="list-item">
          <ion-icon name="pencil" size="large" slot="end" (click)="toEditEducation(educ)"></ion-icon>
          <ion-label>
            <h2 *ngIf="educ.inst">{{educ.inst}}</h2>
            <h2 *ngIf="!educ.inst">{{educ.otherInstitution}}</h2>
            <h3 *ngIf="educ.career">{{educ.career}}</h3>
            <h3 *ngIf="!educ.career">{{educ.otherCareer}}</h3>
            <p>{{educ.startDate_educ}} - <span *ngIf="educ.endDate_educ">{{educ.endDate_educ}}</span><span *ngIf="!educ.endDate_educ">Actualmente</span></p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="educArray.length === 0">
        <ion-label>
          <h4>Sin Educación</h4>
        </ion-label>
      </ion-item>
    </div>  
  </ion-item>
 
  <ion-toast
  color = "success"
  [isOpen]="isSuccessToastOpen"
  message="{{toastSuccessMessage}}"
  [duration]="2000"
  (didDismiss)="setOpenSuccessToast(false)"
  ></ion-toast>
</ion-content>
