ion-content{
    --ion-background-color:white;
}

ion-text{
    margin-top: 30px;
    .titulo-reg{
        font-size: xx-large;
        font-weight: 500;
    }
}

ion-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    ion-button{
        --ion-color-primary:#333333;
        text-transform: none;
        font-weight: 500;
        ion-icon{
            margin-right: 10px;
        }
    }
}