<div class="ion-page" #home>
  <ion-header>
    <ion-toolbar>
      <ion-searchbar placeholder="Filtrar postulaciones" (ionInput)="searchFilter($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list *ngIf="postArray.length === 0">
      <ion-item  class="bg-white">
        <ion-label>
          <h2 *ngIf="searchValue.length === 0" class="center-text">No has postulado a trabajos, postula <span class="span-text" (click)="toHome()">aqui</span></h2>
          <h2 *ngIf="searchValue.length > 0" class="center-text">No se encontraron trabajos con esas especificaciones</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="postArray.length > 0">      
      <ion-item *ngFor ="let post of postArray" class="bg-white">
        <div class="item-content" (click)="updateModale(post)">
          <ion-icon *ngIf="!post.status_post" name="time-outline" size="large" class="m-auto"></ion-icon>
          <ion-icon *ngIf="post.status_post" name="checkmark-circle-outline" size="large" class="m-auto"></ion-icon>
          <ion-img *ngIf = "post.photo_company" [src]="post.photo_company" alt="img-company"></ion-img>
          <ion-img *ngIf = "!post.photo_company" src="assets/img/company.png" alt="img-company"></ion-img>
          <ion-label>
            <h2>{{post.title_job}}</h2>
            <h3>{{post.name_company}}</h3>
            <p class="trunc">{{post.address_company}}</p>
          </ion-label>
        </div>
      </ion-item>
    </ion-list>
    
    <ion-modal  #modal [isOpen]="isModalOpen" (willDismiss)="setOpenModal(false)" [initialBreakpoint]="0.90" [breakpoints]="[0, 0.90]">
      <ng-template>
        <ion-content class="bg-white">
          <h1 class="text-center">{{modalPost.title_job}}</h1>
          <ion-item class="item-content bg-white">
            <ion-img *ngIf = "modalPost.photo_company" [src]="modalPost.photo_company" alt="img-company"></ion-img>
          <ion-img *ngIf = "!modalPost.photo_company" src="assets/img/company.png" alt="img-company"></ion-img>
            <ion-label>
              <h2>{{modalPost.name_company}}</h2>
              <p class="trunc">{{modalPost.address_company}}</p>
            </ion-label>
          </ion-item>
          <ion-item class="bg-white">
            <ion-label>
              <h2>Acerca del empleo</h2>
              <h4>{{modalPost.description_job}}</h4>
            </ion-label>
          </ion-item>
          <ion-item class="bg-white">
            <ion-label>
              <h2>Estado postulacion</h2>
              <h4 *ngIf="!modalPost.status_post">Todavía se están revisando las postulaciones</h4>
              <div *ngIf="modalPost.status_post">
                <h4 *ngIf="modalPost.status_post === 'rechazado'">Finalizado: Rechazado</h4>
                <h4 *ngIf="modalPost.status_post === 'aceptado'">Finalizado: Aceptado</h4>
              </div>
            </ion-label>
          </ion-item>
          <ion-button *ngIf="!modalPost.status_post" expand="full" shape="round" color="danger" (click)="confirmDeletion(modalPost.id_post)">Quitar postulacion</ion-button>
          <ion-item *ngIf="modalPost.status_post" class="bg-white">
            <ion-label>
              <h2 class="center-text">No puedes eliminar una postulacion ya evaluada</h2>
            </ion-label>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-toast
    color = "success"
    [isOpen]="isSuccessToastOpen"
    message="Postulación eliminada"
    [duration]="2000"
    (didDismiss)="setOpenSuccessToast(false)"
    ></ion-toast>

    <ion-toast
    color = "danger"
    [isOpen]="isErrorToastOpen"
    message="No se pudo elimar la postulacion"
    [duration]="3000"
    (didDismiss)="setOpenErrorToast(false)"
    ></ion-toast>
  </ion-content>
</div>


