<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-text>
      <h1 class="titulo-reg">Modificación puesto de trabajo</h1>
    </ion-text>
  </ion-item>
    <ion-list>
      <ion-item lines="none" class="item-content">
        <div class="w-100 my-10px">
          <ion-label>
            <h3>Titulo</h3>
            <div class="input-border">
              <ion-input placeholder="Ingresa el titulo" [(ngModel)]="job.title_job"> </ion-input>
            </div>
          </ion-label>
          <p class="error-message" *ngIf="!titleIsCorrect">Este campo es obligatorio</p>
        </div>
      </ion-item >

      <ion-item class="my-10px">
        <div class="w-100 my-10px">
          <ion-label>
            <h2>Descripcion</h2>
            <ion-textarea rows="10"
            name="acerca de" 
            [(ngModel)]="job.description_job">
            </ion-textarea>
          </ion-label>
          <p class="error-message" *ngIf="!descriptionIsCorrect">Este campo es obligatorio</p>
        </div>
      </ion-item>
      <ion-button expand="block" size ="large" fill="solid" shape="round" (click)="validateData()">Modificar</ion-button>
    </ion-list>

    <ion-toast
    color = "danger"
    [isOpen]="isErrorToastOpen"
    message="{{messageErrorToast}}"
    [duration]="3000"
    (didDismiss)="setOpenErrorToast(false,'')"
    ></ion-toast>
</ion-content>
