<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar Empleos" (ionInput)="searchFilter($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="jobArray.length === 0">
    <ion-label>
      <h1>No se encontraron trabajos, realiza otra busqueda o vuelve en otro momento</h1>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="jobArray.length > 0">
    <ion-item *ngFor="let job of jobArray" class="bg-white" >
      <div class="item-content" (click)="updateModale(job)">
        <ion-img *ngIf = "job.photo_company" [src]="job.photo_company" alt="img-company"></ion-img>
        <ion-img *ngIf = "!job.photo_company" src="assets/img/company.png" alt="img-company"></ion-img>
        <ion-label>
          <h2>{{job.title_job}}</h2>
          <h3>{{job.name_company}}</h3>
          <p class="trunc">{{job.address_company}}</p>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>

  <ion-modal #modal [isOpen]="isModalOpen" (willDismiss)="setOpenModal(false)" [initialBreakpoint]="0.90" [breakpoints]="[0, 0.90]">
    <ng-template>
      <ion-content class="bg-white">
        <h1 class="text-center">{{modalJob.title_job}}</h1>
        <ion-item class="item-content bg-white">
          <ion-img *ngIf = "modalJob.photo_company" [src]="modalJob.photo_company" alt="img-company"></ion-img>
          <ion-img *ngIf = "!modalJob.photo_company" src="assets/img/company.png" alt="img-company"></ion-img>
          <ion-label>
            <h2>{{modalJob.name_company}}</h2>
            <p class="trunc">{{modalJob.address_company}}</p>
          </ion-label>
        </ion-item>
        <ion-item class="pt-10px bg-white">
          <ion-label>
            <h2>Acerca del empleo</h2>
            <h4>{{modalJob.description_job}}</h4>
          </ion-label>
        </ion-item>
        <ion-button  expand="full" shape="round" (click)="createPostulation()">POSTULAR</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-toast
  color = "success"
  [isOpen]="isSuccessToastOpen"
  message="Postualcion creada correctamente"
  [duration]="2000"
  (didDismiss)="setOpenSuccessToast(false)"
  ></ion-toast>

  <ion-toast
  color = "danger"
  [isOpen]="isErrorToastOpen"
  message="{{errorMessage}}"
  [duration]="2000"
  (didDismiss)="setOpenErrorToast(false)"
  ></ion-toast>
</ion-content>


