<ion-header>
</ion-header>

<ion-content>
  <!-- Opciones -->
  <ion-item lines="none">
    <ion-icon name="settings-sharp" (click)="toOptionsProfile()"></ion-icon>
  </ion-item>
  
  <!-- FOTO NOMBRE Y DIRECCION -->
  <ion-item>
    <div class="item-content">
      <ion-item>
        <ion-img *ngIf="user.photo_user" [src]="user.photo_user"  class="img-profile"></ion-img>
        <ion-img *ngIf="!user.photo_user" src="assets/img/company.png"  class="img-profile"></ion-img>
        <div class="mod-btn" (click)="toEditProfile()">
          <ion-icon name="create-outline" size="large"></ion-icon>
        </div>
      </ion-item>
      <ion-label>
        <h1>{{user.name_user}}</h1>
        <p>{{user.address_user}}</p>
      </ion-label>
    </div>  
  </ion-item>

  <!-- CONTACTOS -->
  <ion-item class="pt-10px">
    <ion-label>
      <ion-item>
        <h1>Contactos</h1>
      </ion-item>
      <ion-list>
        <ion-item *ngIf="user.phone_user">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Teléfono</h2>
            <p>+{{user.phone_user}}</p>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Correo Electrónico</h2>
            <p>{{user.email_user}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-label>
  </ion-item>

  <!-- ACERCA DE -->
  <ion-item class="pt-10px">
    <ion-label>
      <ion-item>
        <h1>Acerca de</h1>
      </ion-item>

      <p>{{user.about_user}}</p>
    </ion-label>
  </ion-item>
  
</ion-content>
