<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <!-- Inputs de texto -->
  <ion-item lines="none" class="item-content">
    <div class="w-100 my-10px">
      <ion-label>
        <h3>Nombre institucion educacional</h3>
        <div class="input-border">
          <ion-input placeholder="Ingresa el nombre del instituto" [(ngModel)]="eduInfo.institute"> </ion-input>
        </div>
      </ion-label>
      <p class="error-message" *ngIf="!instituteIsCorrect">Este campo es obligatorio</p>
    </div>
  </ion-item >
  <ion-item lines="none" class="item-content">
    <div class="w-100 my-10px">
      <ion-label>
        <h3>Cargo</h3>
        <div class="input-border">
          <ion-input placeholder="Ingresa tu cargo" [(ngModel)]="eduInfo.carrer"> </ion-input>
        </div>
      </ion-label>
      <p class="error-message" *ngIf="!carrerIsCorrect">Este campo es obligatorio</p>
    </div>
  </ion-item >

  <app-date-selector 
  [startDateIsCorrect]="startDateIsCorrect"
  [endDateIsCorrect]="endDateIsCorrect"
  (startDateChange)="startDateChanged($event)" 
  (endDateChange)="endDateChanged($event)">
  </app-date-selector>

  <ion-button expand="full" class="mb-50px" (click)="validateData()">Agregar</ion-button>
</ion-content>
