<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="toEditJob()">
      <ion-label>
        <h2>Modificar postulación</h2>
      </ion-label>
    </ion-item>
    <ion-item class="mt-20px" (click)="confirmApplication()">
      <ion-label color="danger">
        <h2>Finalizar postulación</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

