<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-text>
      <h1 class="title-login">Iniciar sesión</h1>
      <p>
        o <ion-text color="primary" (click)="toRegister()">unirte a linkedout</ion-text>
      </p>
    </ion-text>
  </ion-item>
  
  <ion-list>
    <div *ngIf="!accountNotFound">
      <p class="error-message">Cuenta y/o contraseña incorrectas</p>
    </div>

    <div>
      <ion-input label="Correo" labelPlacement="floating" placeholder="Ingresa tu correo" fill="outline"[(ngModel)]="userInput.email">
      </ion-input>
    </div>
    
    <div>
      <ion-input type = "password" label="Contraseña" labelPlacement="floating" placeholder="Ingresa tu contraseña"  fill="outline" [(ngModel)]="userInput.password">
        <ion-input-password-toggle slot="end" *ngIf="userInput.password"></ion-input-password-toggle>
      </ion-input>
    </div>
    
    <ion-text color="primary" (click)="toChangePassword()">¿Has olvidado tu contraseña?</ion-text>
    <ion-button expand="block" size ="large" fill="solid" shape="round" class="continue-btn" (click)="validateLogin()">Continuar</ion-button>
  </ion-list>
</ion-content>
