<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="toChangePassword()">
      <ion-label>
        <h2> Cambiar contraseña </h2>
      </ion-label>
    </ion-item>
    <ion-item (click)="toAccess()">
      <ion-label>
        <h2> Cerrar sesion </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
