<ion-header class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn"></ion-back-button>
    </ion-buttons>
    <a class="linkedout-logo"><ion-img src="assets/img/logo.png"></ion-img></a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-text>
      <h1 class="titulo-reg">{{title}}</h1>
    </ion-text>
  </ion-item>

  <!-- Etiquetas Nombre de usuario -->
  <ion-list *ngIf="labelsNameActived">
    <div>
      <ion-input label="Nombre compañia" labelPlacement="floating" placeholder="Ingresa el nombre de la compañia" fill="outline"
      [(ngModel)]="user.name">
      </ion-input>
      <p class="error-message" *ngIf="!nameIsCorrect">este campo es obligatorio</p>
    </div> 
    <ion-button expand="block" size="large" fill="solid" shape="round" class="continue-btn" (click)="validateName()">Continuar</ion-button>
  </ion-list>
 
  <!-- Etiquetas Correo -->
  <ion-list *ngIf="labelsEmailActived">
    <div>
      <ion-input label="Correo" labelPlacement="floating" placeholder="Ingresa tu correo" fill="outline"[(ngModel)]="user.email">
      </ion-input>
      <p class="error-message" *ngIf="!emailIsCorrect">{{emailErrorMessage}}</p>
    </div>
    
    <ion-button expand="block" size ="large" fill="solid" shape="round" class="continue-btn" (click)="validateEmail()">Continuar</ion-button>
  </ion-list>

  <!-- Etiquetas Contraseña -->
  <ion-list *ngIf="labelsPasswordActived">
    <div>
      <ion-input type = "password" label="Contraseña" placeholder="Ingresa tu contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="user.password">
        <ion-input-password-toggle slot="end" *ngIf="user.password"></ion-input-password-toggle>
      </ion-input>
      <div *ngIf="!passwordIsCorrect">
        <p class="error-message" *ngFor="let errorMessage of errorMessagesPassword">{{errorMessage}}</p>
      </div>
      
    </div>
    <div>
      <ion-input type="password" label="Confirmar Contraseña" placeholder="Confirma tu contraseña" labelPlacement="floating" fill="outline" [(ngModel)]="confirmPassword">
        <ion-input-password-toggle slot="end" *ngIf="confirmPassword"></ion-input-password-toggle>
      </ion-input>
      <p class="error-message" *ngIf="!confirmPasswordIsCorrect">Las contraseñas no coinciden</p>
    </div>
    <ion-button expand="block" size ="large" fill="solid" shape="round" class="continue-btn" (click)="validatePassword()">Continuar</ion-button>
  </ion-list>
</ion-content>