ion-item{
    --background: white;
    ion-icon{
        margin-left: auto;
    }
}

ion-textarea{
    padding: 5px;
    padding-top: 2px;
    border-radius: 1rem;
    border: 2px solid #caca;
}

ion-label{
    width: 100%;
}

.item-content{
    width: 100%;
    display: block;
}